
<h1>Stupid Coaching</h1>

<div id = "question">
    <h3>What has been asked?</h3>
    <%= @question%>
</div>

 <div id = "answer">
    <h3>This is the coach's answer:</h3>
    <%= @answer%>
</div>


<div id = "new">
    <%= link_to "Ask a new question", ask_path %>
</div>
